<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ThreeSheets - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="icon" type="image/png" href="/img/icon.png" />
    <script src="/js/dashboard.js"></script>
</head>
<body>
    <a class="titre" href="index"><h1>ThreeSheets</h1></a>
    <h1>Dashboard</h1>
    <p>Pseudo</p><p id="pseudo"></p>
    <button class="disconnect" onclick="window.location.href='/logout'">Se déconnecter</button>
</body>
</html>