<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ThreeSheets - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="icon" type="image/png" href="/img/icon.png" />
</head>
<body onload="afficherDocuments()">
    <a class="titre" href="index"><h1>ThreeSheets</h1></a>
    <h1>Dashboard</h1>

    <!-- Affichage des fichiers nouveau/existant -->
    <div class="fichiers">
        <div class="btn-new">
            <img src="/img/icon_new.png" alt="" class="btn-icon" onclick="window.location.href='/feuille'">
            <span class="btn-text">Nouveau fichier</span>
        </div>   

        <div class="fichiers-existants">
             <!-- Affichage des fichiers existants par l'intermediaire du js -->
        </div>
    </div>
        
    <p>Pseudo</p><p id="pseudo"></p>
    <button class="disconnect" onclick="window.location.href='/logout'">Se déconnecter</button>
    <script src="/js/dashboard.js"></script>
</body>
</html>